[submodule "bind9"]
	path = bind9
	url = git@github.com:ShaniBenAtya/bind9.git
	branch = 9_16_6
[submodule "nsd"]
	path = nsd
	url = git@github.com:ShaniBenAtya/nsd.git
	tag = NSD_4_3_3_REL
	tag = 9_16_33

